body{
    margin: 0px;
    padding: 0px;
}
.top-nav{
    margin: 0 50px 0 0;
}
.top-nav li{
    float: right;
    color: #3C3C3C;
    text-align: center;
    font-size: 17px;
    list-style-type: none;
    margin-right: 30px;
}
.top-nav li:hover{
    color: rgb(9, 252, 49);
}
.top-banner h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: #363958;
    margin-top: 175px;
}
.btn{
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(to right, rgba(0, 60, 255, 0.801) , rgb(51, 255, 0));
}
#heading {
    color: #ff8367;
}
.half-width p{
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 24px;
    color: #3e3e3e;
    margin-bottom: 33px;
    margin-top: -40px;
}
.half-width{
    float: left;
    overflow: hidden;
    width: 40%;
    margin: 5%;
}
.half-width img {
    width: 100%;
}
.about-section h1 {
    margin-bottom: 60px;
    margin-top: 220px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #363958;
}
.projects{
    width: 370px;
    height: 374px;
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0,0,0,0.07);
    border-radius: 19.7436px;
    margin: 26px;
}
.projects h1 {
    color: #363958;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height:28px;
}
.projects p{
    color: #6c6c6c;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.latest-section img {
    width: 343.54px;
    height: 213.23px;
    margin: auto;
    padding: 13px;
}
.latest-section{
    clear: both;
    background-color: #e5e5e5;
    height: 700px;
}
.card-body{
    padding: 0 13px;
}
.cards {
    display: flex;
    margin: 38px;
}
.last-heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    padding-top: 100px;
}
#last{
    color: #F46060;
}
.inquiry{
    background-image: url("./img/shapes/inquiry.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 101px auto;
    width: 906px;
    height: 225px;
    border-radius: 30px;
}
.work-first{
    float: left;
}
.work-first h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    color: #ffffff;
    padding: 38px;
    margin-left: 66px;
}
.btn-work{
    background: #ff8063;
    color: white;
    font-size: 16px;
    width: 134px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin: 85px;
    margin-left: 283px;
}
.btn-work:hover{
    background: linear-gradient(to right, rgba(0, 60, 255, 0.801) , rgb(51, 255, 0));
}
.connect h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #363958;
}
.connect h4{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #696871;
    text-align: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.footer{
    background: rgb(0, 109, 128);
    height: 300px;
}
.last-part li {
    color: #ffffff;
    font-size: 18px;
    list-style-type: none;
    margin: 10px 0;
}
.last-part{
    float: right;
    margin-right: 87px;
}
#foot{
    position: absolute;
    margin: 274px;
    margin-left: 533px;
}

.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
   }
   .form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
   }
   .form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
   }
   .form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
   
   }.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
   }
   .form-style-9 ul li .field-split{
    width: 49%;
   }
   .form-style-9 ul li .field-full{
    width: 100%;
   }
   .form-style-9 ul li input.align-left{
    float:left;
   }
   .form-style-9 ul li input.align-right{
    float:right;
   }
   .form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
   }
   .form-style-9 ul li input[type="button"], 
   .form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
   }
   .form-style-9 ul li input[type="button"]:hover, 
   .form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
   }
   information-container {
    background: #242323;
    background: -webkit-linear-gradient(45deg, #252525, #f0efef);
    background: linear-gradient(45deg, #dfd9d9, #fcfbfb);
     
    background-size: cover;
    padding: 60px 0;
     }
     
     .inner-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
     }
     
     .section-title {
    text-align: center;
    color: rgb(11, 11, 12);
    text-transform: uppercase;
    font-size: 30px;
     }
     
     .border {
    width: 160px;
    height: 2px;
    background: #ececec;
    margin: 40px auto;
     }
     
     .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     }
     
     .service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: rgb(20, 19, 19);
    cursor: pointer;
     }
     
     .service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #1f1c1c;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
     }
     
     .service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
     }
     
     .service-box:hover .service-icon {
    background: #070707;
    color: rgb(37, 35, 35);
     }
     
     .service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
     
     